{% extends 'AnimalsBundle::base.html.twig' %}

{% block body %}
<div class="row">
	<h1 class="page-header">Welcome to AniList</h1>
	{% for flash_message in app.session.flashBag.get('successMessage') %}
	    <div class="alert alert-success">
	        {{ flash_message }}
	    </div>
	{% endfor %}
	<table class="table table-striped">
		<thead>
			<tr><th>Name</th><th>Description</th><th>&nbsp;</th></tr>
		</thead>
		<tr><td><a class="btn btn-default" title="Add" href="{{urlAdd}}"><span class="glyphicon glyphicon-plus"></span></a></td></tr>
		<tbody>
			{% if animalsTab is empty %}
			<tr>
				<td colspan="3"><center><span class="glyphicon glyphicon-alert"></span>&nbsp;No Animals</center></td>
			</tr>
			{% endif %}
			{% for item in animalsTab %}
			<tr style="background-color:{{item.colorBG}}">
				<td>{{item.name}}</td>
				<td>{{item.description}}</td>
				<td>
					<a class="btn btn-warning" title="Edit" href="{{item.urlEdit}}"><span class="glyphicon glyphicon-pencil"></span></a>
					&nbsp;
					<a class="btn btn-danger" title="Delete" href="{{item.urlDelete}}"><span class="glyphicon glyphicon-trash"></span></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		<tr><td><a class="btn btn-default" title="Add" href="{{urlAdd}}"><span class="glyphicon glyphicon-plus"></span></a></td></tr>
	</table>
</div>
{% endblock %}
